@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .chess-grid {
    @apply bg-cell-dark text-cell-light outline -outline-offset-8 outline-8 outline-transparent smooth-transition
  }

  .chess-grid:nth-child(-2n+9),
  .chess-grid:nth-child(10) ~ div:nth-child(-2n+20),
  .chess-grid:nth-child(20) ~ div:nth-child(-2n+29),
  .chess-grid:nth-child(30) ~ div:nth-child(-2n+40),
  .chess-grid:nth-child(40) ~ div:nth-child(-2n+49),
  .chess-grid:nth-child(50) ~ div:nth-child(-2n+60),
  .chess-grid:nth-child(60) ~ div:nth-child(-2n+69),
  .chess-grid:nth-child(70) ~ div:nth-child(-2n+80),
  .chess-grid:nth-child(80) ~ div:nth-child(-2n+89),
  .chess-grid:nth-child(90) ~ div:nth-child(-2n+100) {
    @apply bg-cell-light text-cell-dark smooth-transition
  }


  /* BASICS */
  .smooth-transition {
    @apply transition duration-300 ease-in-out
  }

  /* BUTTON BASICS */
  .button-base {
    @apply btn-bouncy py-3 px-4 md:px-6 flex justify-center items-center rounded-md text-center font-medium tracking-wide text-white drop-shadow-md shadow-lg border active:outline-none active:ring-2 active:ring-offset-2 active:z-[1] btn-bouncy transition duration-300 ease-out
  }
  .btn-bouncy {
    @apply transform transition-all duration-300 hover:scale-105
  }

  /* BUTTON COLORS */
  .button-white {
    @apply button-base text-black bg-white/95 border-gray-200 shadow-white/10 hover:bg-gray-100 hover:text-blue-600 active:bg-white active:border-white active:ring-blue-500
  }
  .button-yellow {
    @apply button-base text-black bg-yellow-500 border-yellow-500 shadow-orange-500/25 hover:bg-yellow-600 active:text-gray-300 active:bg-yellow-700 active:border-yellow-700 active:ring-yellow-500
  }
  .button-orange {
    @apply button-base text-white bg-orange-500 border-orange-500 shadow-orange-500/25 hover:bg-orange-600 active:text-gray-300 active:bg-orange-700 active:border-orange-700 active:ring-orange-500
  }
  .button-lime {
    @apply button-base text-black bg-lime-500 border-lime-500 shadow-lime-500/25 hover:bg-lime-600 active:text-gray-300 active:bg-lime-700 active:border-lime-700 active:ring-lime-500
  }
  .button-teal {
    @apply button-base text-white bg-teal-500 border-teal-500 shadow-teal-500/25 hover:bg-teal-600 active:text-gray-300 active:bg-teal-700 active:border-teal-700 active:ring-teal-500
  }
  .button-cyan {
    @apply button-base text-black bg-cyan-500 border-blue-500 shadow-cyan-500/25 hover:bg-cyan-600 active:text-gray-300 active:bg-cyan-700 active:border-cyan-700 active:ring-blue-500
  }
  .button-blue {
    @apply button-base text-white bg-blue-600 border-blue-600 shadow-blue-500/25 hover:bg-blue-700 active:text-gray-200 active:bg-blue-700/90 active:border-blue-800 active:ring-blue-500
  }
  .button-indigo {
    @apply button-base text-neutral-300 bg-indigo-500 border-indigo-500 shadow-indigo-500/25 hover:bg-indigo-600 active:text-gray-200 active:bg-indigo-700 active:border-indigo-700 active:ring-indigo-500
  }
  .button-pink {
    @apply button-base text-white bg-pink-500 border-pink-500 shadow-pink-500/25 hover:bg-pink-600 active:text-gray-300 active:bg-pink-700 active:border-pink-700 active:ring-pink-500
  }
  .button-black {
    @apply button-base text-white bg-black border-neutral-900 shadow-white/5 hover:bg-neutral-900 active:bg-neutral-800 active:border-white active:ring-white active:ring-1
  }



  /* INPUTS */
  .input-primary-base {
    @apply p-2.5 mt-1 block w-full rounded-lg border shadow-sm focus:outline-none focus:ring-1 hover:ring-1 smooth-transition
  }
  .input-primary-valid {
    @apply input-primary-base bg-white/15 border-gray-400 text-gray-200 placeholder-gray-400 caret-cyan-500 focus:border-cyan-500 focus:ring-cyan-500 hover:ring-cyan-500/[.55]
  }
  .input-primary-invalid {
    @apply input-primary-base border-red-500 bg-red-400/20 text-red-300 placeholder-red-400 caret-red-500 hover:border-red-500 focus:ring-red-500 focus:border-red-500
  }
  .input-secondary-valid {
    @apply input-primary-base border-gray-200/75 bg-gray-200/50 text-gray-700 placeholder-gray-400 caret-purple-500 focus:border-purple-500 focus:ring-purple-500 hover:ring-purple-500/[.55] focus:bg-gray-200/10 text-sm
  }
  .input-secondary-invalid {
    @apply input-primary-base border-red-500 bg-red-50 text-red-900 placeholder-red-700 placeholder:opacity-75 hover:border-red-500 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400
  }

  .display-img {
    @apply rounded-lg drop-shadow-md smooth-transition
  }


  /* CHECKBOXS */
  .checkbox-base {
    @apply form-checkbox h-3.5 w-3.5 rounded ring-offset-gray-800 focus:ring-2 bg-white/10 hover:bg-white/15 smooth-transition cursor-pointer
  }
  .checkbox-yellow {
    @apply checkbox-base text-yellow-400 hover:text-yellow-500 focus:ring-yellow-600 border-yellow-600
  }
  .checkbox-orange {
    @apply checkbox-base text-orange-400 hover:text-orange-500 focus:ring-orange-600 border-orange-600
  }
  .checkbox-lime {
    @apply checkbox-base text-lime-400 hover:text-lime-500 focus:ring-lime-600 border-lime-600
  }
  .checkbox-teal {
    @apply checkbox-base text-teal-400 hover:text-teal-500 focus:ring-teal-600 border-teal-600
  }
  .checkbox-cyan {
    @apply checkbox-base text-cyan-400 hover:text-cyan-500 focus:ring-cyan-600 border-cyan-600
  }
  .checkbox-blue {
    @apply checkbox-base text-blue-600 hover:text-blue-800 focus:ring-blue-600 border-blue-600
  }
  .checkbox-indigo {
    @apply checkbox-base text-indigo-400 hover:text-indigo-500 focus:ring-indigo-600 border-indigo-600
  }
  .checkbox-pink {
    @apply checkbox-base text-pink-400 hover:text-pink-500 focus:ring-pink-600 border-pink-600
  }


  .radio-group-base {
    @apply relative border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none smooth-transition
  }
  .radio-group-checked {
    @apply radio-group-base border-transparent bg-gray-50 hover:bg-gray-100 ring-2 ring-teal-500
  }
  .radio-group-unchecked {
    @apply radio-group-base border-gray-300 bg-white hover:bg-gray-50
  }

  .text-drop-shadow-white {
    @apply drop-shadow-[0_2px_2px_rgba(255,255,255,2)]
  }
  .text-drop-shadow-black-sm {
    @apply drop-shadow-[0_1px_1px_rgba(0,0,0,2)]
  }
  .text-drop-shadow-black-md {
    @apply drop-shadow-[0_2px_2px_rgba(0,0,0,2)]
  }

  .translate-upwards-on-hover {
    @apply transform translate-y-16 transition-transform duration-500 hover:translate-y-0
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 30vh;
    background: #7a7a7a;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }


  /*@variants responsive {*/
  /*    !* Hide scrollbar for Chrome, Safari and Opera *!*/
  /*    .no-scrollbar::-webkit-scrollbar {*/
  /*        display: none;*/
  /*    }*/

  /*    !* Hide scrollbar for IE, Edge and Firefox *!*/
  /*    .no-scrollbar {*/
  /*        -ms-overflow-style: none;  !* IE and Edge *!*/
  /*        scrollbar-width: none;  !* Firefox *!*/
  /*    }*/
  /*}*/
}

@layer base {
  @font-face {
    font-family: Riffic;
    font-weight: 400;
    src: url(./fonts/Riffic.woff) format("woff");
  }
  @font-face {
    font-family: StencilCargoArmy;
    font-weight: 400;
    src: url(./fonts/StencilCargoArmy.woff) format("woff");
  }


  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  :root {
    --color-cell-light: 138 220 254;
    --color-cell-dark: 130 210 254;

    --game-background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924 2.616 5.59 4.625 7.868C152.145 9.682 151 12.208 151 15c0 5.523 4.477 10 10 10 1.657 0 3 1.343 3 3v4h16V0h-4.803c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6s-6-2.686-6-6c0-1.093.292-2.117.803-3h10.394-13.685C161.18.938 161 1.948 161 3v4c-4.418 0-8 3.582-8 8s3.582 8 8 8c2.76 0 5 2.24 5 5v2h4v-4h2v4h4v-4h2v4h2V0h-4.803zm-15.783 0c-.27.954-.414 1.96-.414 3v2.2c-1.25.254-2.414.74-3.447 1.412-1.716-1.93-3.098-4.164-4.054-6.612h7.914zM180 17h-3l2.143-10H180v10zm-30.635 163c-.884-2.502-1.365-5.195-1.365-8 0-13.255 10.748-24 23.99-24H180v32h-30.635zm12.147 0c.5-1.416 1.345-2.67 2.434-3.66l-1.345-1.48c-1.498 1.364-2.62 3.136-3.186 5.14H151.5c-.97-2.48-1.5-5.177-1.5-8 0-12.15 9.84-22 22-22h8v30h-18.488zm13.685 0c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 148h8.01C21.26 148 32 158.742 32 172c0 2.805-.48 5.498-1.366 8H0v-32zm0 2h8c12.15 0 22 9.847 22 22 0 2.822-.53 5.52-1.5 8h-7.914c-.567-2.004-1.688-3.776-3.187-5.14l-1.346 1.48c1.09.99 1.933 2.244 2.434 3.66H0v-30zm15.197 30c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 32h16v-4c0-1.657 1.343-3 3-3 5.523 0 10-4.477 10-10 0-2.794-1.145-5.32-2.992-7.134C28.018 5.586 29.6 2.924 30.634 0H0v32zm0-2h2v-4h2v4h4v-4h2v4h4v-2c0-2.76 2.24-5 5-5 4.418 0 8-3.582 8-8s-3.582-8-8-8V3c0-1.052-.18-2.062-.512-3H0v30zM28.5 0c-.954 2.448-2.335 4.683-4.05 6.613-1.035-.672-2.2-1.16-3.45-1.413V3c0-1.04-.144-2.046-.414-3H28.5zM0 17h3L.857 7H0v10zM15.197 0c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6S4 6.314 4 3c0-1.093.292-2.117.803-3h10.394zM109 115c-1.657 0-3 1.343-3 3v4H74v-4c0-1.657-1.343-3-3-3-5.523 0-10-4.477-10-10 0-2.793 1.145-5.318 2.99-7.132C60.262 93.638 58 88.084 58 82c0-13.255 10.748-24 23.99-24h16.02C111.26 58 122 68.742 122 82c0 6.082-2.263 11.636-5.992 15.866C117.855 99.68 119 102.206 119 105c0 5.523-4.477 10-10 10zm0-2c-2.76 0-5 2.24-5 5v2h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-2c0-2.76-2.24-5-5-5-4.418 0-8-3.582-8-8s3.582-8 8-8v-4c0-2.64 1.136-5.013 2.946-6.66L72.6 84.86C70.39 86.874 69 89.775 69 93v2.2c-1.25.254-2.414.74-3.447 1.412C62.098 92.727 60 87.61 60 82c0-12.15 9.84-22 22-22h16c12.15 0 22 9.847 22 22 0 5.61-2.097 10.728-5.55 14.613-1.035-.672-2.2-1.16-3.45-1.413V93c0-3.226-1.39-6.127-3.6-8.14l-1.346 1.48C107.864 87.987 109 90.36 109 93v4c4.418 0 8 3.582 8 8s-3.582 8-8 8zM90.857 97L93 107h-6l2.143-10h1.714zM80 99c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm20 0c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z' fill='%233b3b3b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}

html, body {
  overscroll-behavior: none;
}